#slider {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#images {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

img {
    position: absolute;
    /* left: 40vw; */
    right: -300px;
    display: block;
    /* overflow: hidden; */
    transition-duration: 500ms;
    transition-property: right;
    animation-timing-function: linear;
}
img:first-child {
    right: 0;
    /* z-index: 1; */
}
@keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2000px);
    }
}
